@charset "ISO-8859-1";
body {font-family: Arial, Helvetica, sans-serif;}

body {

	background-color: #dedede;
	}
	h1{
	background-color: #555;
	text-align: center;
	color:white;
	}
input[type=text]{
	border:none;
	 
}
#lname,#email,#pswd{
	background-color: #dedede;
}
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 14%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}
table{
	text-align: center;
}